@charset "utf-8";
.main{
    background-color: #ffffff;
}

/*ABOUTUSトップ画面*/
.aboutus-top{
    height: 500px;
    background-image: url(../images/aboutus-top.jpg);
    background-size: cover;
    margin-bottom: 100px;
    h2{
        color: #fff;
        line-height: 1.5;
        padding-top: 100px;
        padding-left: 100px;
        font-size: 40px;
    }
}
.title{
    text-align: center;
    margin-bottom: 100px;
}

.aboutus{
    margin-left: 8%;
    margin-right: 8%;
    padding-bottom: 100px;
}
/*設立*/
.construction{
    margin-bottom: 150px;
    background-color: #bebebe;
    padding-top: 30px;
    padding-bottom: 50px;
    h3 {
            text-align: center;
            font-size: 25px;
            font-weight: bold;
    
            text-decoration: underline;
            text-decoration-color: #657ab4;
            text-decoration-thickness: 0.5em;
            text-decoration-skip-ink: none;
            text-underline-offset: -0.25em;
        }
}
.construction-inside{
    display: flex;

    padding-left: 5%;
    line-height: 1.5;
    margin-top: 15px;
    align-items:center ;
    p{
        font-size: 20px;
        margin-right: 100px;
        margin-bottom: 50px;
    }
    img{
        object-fit: cover;
        width: 300px;
        height: auto;
    }
}

/*いま*/
.now{
    margin-bottom: 150px;
    background-color: #bebebe;
    padding-top: 30px;
    padding-bottom: 50px;
    
    h3 {
            text-align: center;
            font-size: 25px;
            font-weight: bold;
    
            text-decoration: underline;
            text-decoration-color: #657ab4;
            text-decoration-thickness: 0.5em;
            text-decoration-skip-ink: none;
            text-underline-offset: -0.25em;
            margin-bottom: 50px;
        }
}
/*CUSTOMER*/
.customer{
    margin-bottom: 100px;
}
.customer-inside{
    width: 100%;
    /* height: 450px; */
    background-image: url(../images/aboutus/customer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.customer h4{
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
.customer h6{
    margin-right: auto;
    margin-left: 5px;
    padding-top: 200px;
    padding-bottom: 10%;
    font-size: 1.7vW;
    text-align: start;
    line-height: 2.5;
    font-weight: bolder;

    text-decoration: underline;
    text-decoration-color: #fff;
    text-decoration-thickness: 1.5em;
    text-decoration-skip-ink: none;
    text-underline-offset: -1.2em;
}
/*PRODUCT*/
.product h4{
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}

.products{
    display: grid;
    position: relative;
    grid-template-columns: 40% 40%;;
    grid-template-rows: 250px 250px;
    justify-content: center;
    margin-bottom: 50px;
}
/*PRODUCTS中央文字部分*/
.product-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    width: 35%;
    font-size: 20px;
    font-weight: bolder;
    padding: 30px;
    z-index: 9;
}
.product-lineup{
    align-content: center;
    text-align: center;
    color: #fff;
    font-size: 2.5vw;
    background-color: #111;
    position: relative;
}
.lineup-button{
    font-size: 15px;
    color: #ffffff;
    background-color: #d43155;
    border-radius: 15px;
    padding: 10px 20px;
    position: absolute;
    top: 60%;
    left:70%
}
#package{
    background-size: cover;
    grid-row: 1/2;
    grid-column: 1/2;
    background-image:linear-gradient(rgba(0, 0, 0, 0.445), rgba(0, 0, 0, 0.5)), url(../images/aboutus/programing.png.jpg);
}
#service{
    background-size: cover;
    grid-row: 1/2;
    grid-column: 2/2;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url(../images/aboutus/meeting.jpg);
    background-position: 50%;
}
#signage{
    background-size: cover;
    grid-row: 2/2;
    grid-column: 1/2;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../images/aboutus/digital-marketing-1725340_640.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
#programming{
    background-size: cover;
    grid-row: 2/2;
    grid-column: 2/2;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../images/aboutus/programing2.png.jpg);
    background-position: 50%; 
}
/* ここからモーダルウィンドウ */
.layer{
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
}
.layer.is-open {
    z-index: 999;
    opacity: 1;
    visibility: visible;
}

.layer.is-open .modal{
  opacity: 1;
  visibility: visible;
}
.modal{
    position: relative;
    margin-right: auto;
    margin-left: auto;
    opacity: 0;
    visibility: hidden;
}
.modal-inner{
    position: relative;
    margin:180px auto auto auto;
    background: #fff;
    display: block;
    padding: 21px 8px 21px;
    width: 400px;
    height: 600px;
}
.modal-content{
    padding: 30px;
}
.content-title{
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px;
}
.content-text{
    line-height: 1.5em;
}
.modal-button-wrap{
    position:absolute;
    right: -18px;
    top:-20px;
    display: inline-flex;
}
.close-button{
    position: relative;
    width: 39px;
    height: 39px;
    background: #dd0b00;
    border-radius: 50%;
    padding: 0;
    border: transparent;
    cursor: pointer;
}
.close-button span {
    width: 25px;
    height: 2px;
    background: #fff;
    display: inline-block;
    position: absolute;
    left: calc(50% - 12px);
    top: 50%;
    border-radius: 20px;
}
.close-button span:nth-child(1) {
    transform: rotate(45deg) translate(-1px, -1px);
}
.close-button span:nth-child(2) {
  transform: rotate(-45deg) translate(1px, -1px);
}
/* ここまでモーダルウィンドウ */
.product-top{
    background-image: url(../images/photo-square.JPG);
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    h5{
        font-size: 18px;
    }
}
.product-bottom{
    height: 25%;
    display: flex;
    justify-content: space-between;
    background-color: #dd0b00;
    color: #ffffff;

}
.product-left{
    margin-left: 10px;
    margin-top: 13px;
    line-height: 1.3;
    font-size: 15px;
    text-align: start;
}

/*Clickボタン設定*/
.click-button{
    margin-top: auto;
    margin-right: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}
.click-button::before{
    content: '';
    display: inline-block;
    border-style: solid;
    border-width: 8px 0 8px 8px;
    border-color: transparent transparent transparent #fff;
    display: inline-block;
    width: 0;
    height: 0;
    margin-right: 3px;

}

/*BUSINESS MODEL*/
.business-model{
    text-align: center;
    height: 500px;/*←中身空なので、仮で高さを設定*/
    margin-bottom: 150px;
    h2{
        font-size: 27px;
        font-weight: bold;
        margin-top: 10%;
    }
}
.business-model-contents{
    height: 300px;
    background-color: #bebebe;
    margin-top: 15px;
}

/*これから*/
.from-now{
    background-color: #bebebe;
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
    
    h3 {
            font-size: 25px;
            font-weight: bold;
    
            text-decoration: underline;
            text-decoration-color: #657ab4;
            text-decoration-thickness: 0.5em;
            text-decoration-skip-ink: none;
            text-underline-offset: -0.25em;
            margin-bottom: 50px;
            /*若干中心とズレてる？*/
        }
}
.from-now-text{
    text-align: start;
    padding: 50px 15%;
    line-height: 1.5;
    margin-top: 15px;
    span{
        color: red;
        font-weight: bold;
    }
    p{
        font-size: 20px;
    }
}
.from-now-contents{
    display: flex;
    flex-wrap: wrap;
    gap: 70px 50px;
    justify-content: center;
    padding: 50px 10%;
    p{
        color: #dd0b00;
        font-size: 18px;
        font-weight: bold;
    }
}
.from-now-content{
    height: 300px;
    width: 250px;
}
.from-now-content img{
    padding: 20px;
}

/*モバイル用レイアウト*/
@media(max-width: 800px){
    /*トップ*/
    .aboutus-top{
        height: 45vh;
        h2{font-size: 20px;}
    }
    /*設立*/
    .construction{
        padding-bottom: 0px;
        margin-bottom: 10%;
    }
    .construction-inside{
        img{display: none;}
        p{font-size: 17px;
            margin-right: 5%;}
    }
    /*いま*/
    .now{
        margin-bottom: 10%;
    }
    /*CUSTOMER*/
    .customer-inside {
        h6{
        font-size: 2vw;
        padding-top: 10%;
        height: auto;
        }
        display: flex;
    line-height: 1.5;
    margin-top: 15px;
    img{
        object-fit: cover;
        height: auto;
    }
    }
    /*PRODUCTS*/
    .products{
        display:contents;
    }
    .product-lineup h6{
        font-size: 15px;
    }
    .lineup-button{
        padding: 5%;
    }
    .product-center{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(255, 255, 255, 0.8);
        text-align: center;
        width: 35%;
        font-size: 2vw;
        font-weight: bolder;
        padding: 30px;
        z-index: 9;
        display: none;
    }
    .product-lineup{
        align-content: center;
        text-align: center;
        color: #fff;
        font-size: 2.5vw;
        background-color: #111;
        position: relative;
        height: 20vw;
    }
    .lineup-button{
        font-size: 50%;
        color: #ffffff;
        background-color: #d43155;
        border-radius: 15px;
        padding: 10px 20px;
        position: absolute;
        top: 60%;
        left:70%
    }
    #package{
        background-size: cover;
        grid-row: 1/2;
        grid-column: 1/2;
        background-image:linear-gradient(rgba(0, 0, 0, 0.445), rgba(0, 0, 0, 0.5)), url(../images/aboutus/programing.png.jpg);
    }
    #service{
        background-size: cover;
        grid-row: 1/2;
        grid-column: 2/2;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url(../images/aboutus/meeting.jpg);
        background-position: 50%;
    }
    #signage{
        background-size: cover;
        grid-row: 2/2;
        grid-column: 1/2;
        background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../images/aboutus/digital-marketing-1725340_640.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    #programming{
        background-size: cover;
        grid-row: 2/2;
        grid-column: 2/2;
        background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../images/aboutus/programing2.png.jpg);
        background-position: 50%; 
    }

    /*これから*/
    /*STRUCTURE*/
    .from-now-text {
        padding: 10%;
        p{
        font-size: 2vw;}
    }
    .from-now-contents {
        display: flex;
        flex-wrap: wrap;
        gap: 10% 0%;
        justify-content: center;
    }
    .from-now-content{
        width: 30vw;
        height: auto;
        p{
            font-size: 80%;
        }
    }
}
