@charset "utf-8";
.content-top-area img{
    object-position: 0 50%;
}
.contact-message{
    margin-top: 100px;
    text-align: center;
    line-height: 1.5;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.contact-form{
    text-align: center;
    padding-top: 110px;
    max-width: 800px;
    margin: 0 auto;
}
