h1{
  text-align: center;
  margin-top: 80px;
  margin-bottom: 1vh;
  font-size: min(5vw,25px);
}
section{
  width: min(800px,80%);
  margin: max(3vh,60px)  auto;
}
h2{
  font-size: min(4vw,25px);
}
/* ここから社員プロフィール */
.profile{
  max-width: 600px;
}
@media(max-width:800px){
  .profile{
    width: 80%;
    margin: 1vh auto;
  }
  }
.profile-space{
  display: flex;
  img{
    width: min(25%,250px);
    aspect-ratio: 1/1;
    object-fit: cover;
  }
}
.profile-figcaption{
    margin: auto auto 0 3%;
    font-size: min(4vw,30px);
    p{
      font-size: min(3vw,22px);
    }
}
/* ここまで社員プロフィール */

/* ここからスキップボタン */
.skipbutton{
  width: 90%; 
  max-width: 800px;
  text-align: center;
  margin:2vh auto;
}
.page{
  min-width:300px;
  padding: 1%;
  margin: 1px;
  font-size: min(3vw,20px);
}
@media(max-width:800px){
  .page{
    width: 25%;
    min-width: 200px;
  }
}
/* ここまでスキップボタン */

figcaption{
  line-height: 2;
  letter-spacing: -1;
}
.tab-nav{
  justify-content: space-between;
  display: flex;
}
.tab-nav-item{
  color: #ffffff;
  background-color: #a7a7a7;
  text-decoration: none;
  width: 100%;
  margin-right: 2px;
  text-align: center;
  padding: 1vh 0;
  font-size: min(3vw,20px);
}
.tab-nav-item.is-active {
  color: #3a3a3a;
  font-size:min(3.3vw,25px);
  background-color: #67c0fc;
}
.tab-contents-item{
  display: none;
  margin:20px 0 auto 0
}
.tab-contents{
  font-size: min(2.8vw,18px);
}
@media(max-width:800px){
  .tab-figure{
  display: none;
}
}
.tab-contents-caption{
  display: flex;
}
.tab-figure{
  border-radius: 40px;
  width: min(40%,250px);
  aspect-ratio: 1/1;
  object-fit: cover;
  margin-right: 2vw;
}
.tab-figcaption{
  margin: auto auto 0 auto;
  line-height: 1.5;
}
.img-schedule{
  display: block;
  width: 100%;
  margin:20px auto; 
}
.img-section{
  object-fit: cover;
  width: 80%;
  height: 30vw;
  object-position:20% 40%;
  display:block ;
  margin:  auto ;
}
.work,.reason,.schedule,.discovery{
  padding-bottom: 10px;
  margin-bottom: min(30px,2vh);
  margin-top: min(30px,2vh);
  text-align: center;
  border-bottom: 1px solid #575757 ;
}
.reason-figure{
  display: flex;
  margin: 0 50;
  font-size: min(3vw,22px);
}
.discovery-figure{
  display: flex;
  margin: 0 50;
  font-size: min(3vw,22px);
}
.employee-list{
  display: block;
  text-align: center;
  width: 200px;
  margin: 80px auto ;
  font-weight: bold;
  background-color: rgb(211, 211, 211);
  padding: 20px;
  font-size: min(3vw,18px);
}
