@charset "utf-8";
/*コンテンツ共通部、見出し*/
.content{
    margin-left: 10%;
    margin-right: 10%;
    h3{
        font-size: 30px;
        margin-bottom: 20px;
        border-left: 5px solid #000000;
        padding: 4px 0 7px 7px;
        }
}

/*各種制度・福利厚生*/
#support-and-benefit{
    background-color: lightgray;
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 100px;
    h4{
        font-size: 22px;
        margin-bottom: 30px;
    }
    h6{
        font-size: 20px;
        margin-bottom: 10px;
    }
    p{
        padding-left: 40px;
        margin-bottom: 40px;
        font-size: 19px;
        line-height: 1.4;
    }
}

/*制度*/
#support{
    margin-bottom: 100px;
}
/*福利厚生*/

/*オフィス*/
.office-discription{
    p{
        font-size: 22px;
        margin-bottom:100px;
        padding-left: 20px;
    }

}
.office-list, .office-list-reverse{
    display: flex;
    margin-bottom: 100px;
    img{
        width: 40%;
        aspect-ratio: 4/3;
        object-fit: cover;
    }
    h6{
        font-size: 25px;
        margin-top: 30px;
    }
    p{
        font-size: 20px;
        line-height: 1.4;
        padding-left: 50px;
        padding-right: 50px;
        margin-top: 30px;
    }
}

.office-text{
    padding-right: 5%;
    h6{
        display: inline;
        border-bottom: 2px solid #000000;
        padding: 5px 30px 0 10px;
    }
}

.office-text-reverse{
    padding-left: 5%;
    h6{
        display: inline;
        border-bottom: 2px solid #000000;
        padding: 5px 10px 5px 30px;
        text-align: right;
    }
}

.office-reverse-title{
    display: flex;
    justify-content: end;
    margin-left: auto;
}

/*モバイル用レイアウト*/
@media(max-width: 800px){
    /*制度・福利厚生*/
    #support-and-benefit{
        padding: 3%;
    }
    #support-and-benefit p{
        font-size: 15px;
        padding-left: 3%;
    }

    /*オフィス*/
    .office-discription p{
        font-size: 18px;
        line-height: 1.2;
    }
    .office-list, .office-list-reverse{
        display: flex;
        flex-direction: column;
        p{
            font-size: 15px;
        padding-left: 5%;
        padding-right: 5%;
        }
        img{
            width: 100%;
        }
    }
    .office-list-reverse{
        flex-direction: column-reverse;
    }
    .office-reverse-title{
        justify-content: start;
    }
    .office-text{
        margin-top: 10px;
        h6{
            padding: 10px 5px 3px 5px;
            font-size: 20px;

        }
        p{
            margin-top: 20px;
        }
    }
    .office-text-reverse{
        padding-left: 0;
        h6{
            padding: 10px 5px 3px 5px;
            font-size: 20px;
            margin-top: 0;
        }
        p{
            margin-top: 20px;
        }
    }


}